[mysqld]

server-id=2

# Пути
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
port=3306

# Репликация и GTID
relay-log=relay-bin
read_only=1
gtid_mode=ON
enforce-gtid-consistency=ON
log-bin=mysql-bin
log_replica_updates=ON

# Отчёт для мастера/оркестратора
report_host=mysql-slave1
report_port=3306

# Ускоряем старт
skip_name_resolve=1
host_cache_size=0