[mysqld]
default_authentication_plugin = caching_sha2_password
server-id= 1
log_bin= mysql-bin
binlog_format = ROW
binlog_do_db= bootdb
gtid_mode= ON
enforce_gtid_consistency= ON

# TLS
require_secure_transport=ON
ssl_ca=/etc/mysql/certs/ca.pem
ssl_cert=/etc/mysql/certs/server-cert.pem
ssl_key=/etc/mysql/certs/server-key.pem

