[mysqld]
server-id=1
log-bin=mysql-bin
binlog_do_db=bootdb
gtid_mode=ON
enforce-gtid-consistency=ON
log_replica_updates=ON
report_host=mysql-master
report_port=3306
skip_name_resolve=1
host_cache_size=0
transaction_write_set_extraction=XXHASH64
binlog_transaction_dependency_history_size=25000
