<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Мероприятия</title>

<link th:href="@{/css/templatemo_style.css}" rel="stylesheet" type="text/css" />

</head>
<body>

<span id="top"></span>
<div id="templatemo_wrapper_photo">
	<div id="templatmeo_header_photo">

		<div id="site_title">
				<h1><a th:href="@{/home}"></a></h1>
		</div>

        <div id="templatemo_menu">
            <ul>
                <li class="last"><a th:href="@{/holiday}">Мероприятия</a></li>
                <li class="last"><a th:href="@{/myPage}">Кабинетик</a></li>
            </ul>
        </div> <!-- end of templatemo_menu -->
	</div> <!-- end of header -->

    <div id="templatemo_main_photo">

        <div id="services" class="content_top"></div>
        <div class="content_box_photo">
        	<div class="content_title content_contactus"></div>

                <h2>Новости</h2>
                <div class="cleaner"></div>

                <p style="font-size: 18px; color:#cfb53b">Вести с полей! Смотри веселей)</p>
          <div class="cleaner h30"></div>
                <div class="post_boxnews float_l">
                    <div class="image_fl"><span></span><img src="/images/news/8marta.jpg" width="350" alt="Image" /></div>

                    <h3>8 марта</h3>
                    <p style="color:#ed760e">Поздравляем женщин с первым днем весны) </p>
                    <div class="cleaner"></div>
          </div>


<div class="cleaner"></div>
                <div class="post_boxnews float_l">
                    <div class="image_fl"><span></span><img src="/images/news/DRLesha.jpg" width="350" alt="Image" /></div>

                    <h3>Папин день рождения!</h3>
                    <p style="color:green">Папочка! Поздравляем! Ура!!!</p>
                    <div class="cleaner"></div>
          </div>

<div class="cleaner"></div>
                <div class="post_boxnews float_l">
                    <div class="image_fl"><span></span><img src="/images/news/DRFedor.jpg" width="350" alt="Image" /></div>

                    <h3>Феде- 18 лет!</h3>
                    <p style="color:#2a52be">Федюнчик! Поздравляем тебя с Днем рождения)</p>
                    <div class="cleaner"></div>
          </div>
            <div class="cleaner"></div>
            <a href="#" class="gototop">Наверх</a>
        </div>


    </div>
</div> <!-- end of warpper -->

</body>
</html>
