<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org" >
<head>
<!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0, user-scalable=yes" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Егорчик</title>

  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
  <link th:href="@{/css/windowTheme.css}" type="text/css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
<img id="img1" src="">
<table id="t1" width="78%" border="0" align="center" cellpadding="0" cellspacing="0" class="wrap" >
  <tr>
    <td height="85" colspan="5"><table width="252" height="73" border="0">
      <tr>
        <td width="246" align="center"><img src="/images/logo.jpg"  align="middle" /></td>
      </tr>
    </table></td>
  </tr>
  <tr align="center" class="menu-row">
<td width="7%" height="38"></td>
    <td width="10%" height="38" align="left" valign="top"><div style="background-image:url(/images/menu_11.jpg); background-repeat:no-repeat; background-size: 100% 100%; width: 100%;  height:38px; display: block; text-align: center;">

        <div style="display: inline-block;">
            <form id="admin" th:action="@{/admin/adminIn}" method="GET" target="_self">
                <button id="admb" type="submit" class="but2">Это я!</button>
            </form>
        </div>
    </div></td>
    <td width="57%" height="38" align="center" valign="top" ><div style="background-image:url(/images/menu.jpg); background-repeat:no-repeat;  background-size: 100% 100%; width: 100%;  height:35px; display: block; ">
      <table class="menutxt1" width="100%" height="34" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="16%" align="center"><a href="#" onclick="about();return false;" class="menutxt1" >Обо мне </a></td>
          <td width="16%" align="center" valign="middle"><a th:href="@{/photo}" class="menutxt1">Фотографии</a></td>
          <td width="17%" align="center" valign="middle"><a th:href="@{/video}" class="menutxt1" >Видео</a></td>
          <td width="17%" align="center" valign="middle"><a th:href="@{/holiday}" class="menutxt1" >Мероприятия</a></td>
          <td width="18%" align="center" valign="middle"><a th:href="@{/news}" class="menutxt1" >Новости</a></td>
          <td width="16%" align="center" valign="middle"><a th:href="@{/myPage}" class="menutxt1" >Кабинетик</a></td>
        </tr>
      </table>
    </div></td>
    <td width="19%" height="38" align="right" valign="top"><div style="background-image:url(/images/subscribe.jpg); background-repeat:no-repeat; background-size: 100% 100%; width: 100%;  height:35px; display: block; text-align: center;">
        <div style="display: inline-block;">
            <form id="out" th:action="@{/logout}" method="POST" target="_self">
                <button id="outb" type="submit" class="but">Выйти</button>
            </form>
        </div>
    </div></td>

    <td width="7%" height="38"></td>
  </tr>
  <tr>
<td height="60"></td>
  </tr>
  <tr align="center">
    <td height="472" colspan="5"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="7%" rowspan="4">&nbsp;</td>
        <td width="35%" rowspan="4" align="center" valign="top">
          <img src="/images/middle_image.jpg"/></td>
        <td width="2%" rowspan="4">&nbsp;</td>
        <td width="49%" height="40">&nbsp;</td>
        <td width="7%">&nbsp;</td>
      </tr>

      <tr>
        <td height="270" width="488" align="left" valign="top"><div id="middletext" class="middletxt">
          <table width="100%" height="249" border="0" cellpadding="0" cellspacing="0">

            <tr>
              <td width="10%">&nbsp;</td>
              <td id="i" height="56" colspan="2" class="bodyhead">Привет, я Егор!</td>
              <td width="6%">&nbsp;</td>
            </tr>
            <tr>
              <td height="163" align="center" valign="top">&nbsp;</td>
              <td id="about" colspan="2" align="center" valign="top" class="bodytxt">Я расскажу вам про мою семью, наши мероприятия и праздники.</td>
              <td align="center" valign="top" class="bodytxt">&nbsp;</td>
            </tr>

          </table>
        </div></td>
      </tr>

      <tr>
        <td align="center" valign="middle"><table width="100%" height="125" border="0">
          <tr>
            <td><div class="footer" style="background-image:url(/images/image_bg.jpg); width:526px; height:125px">
              <table width="100%" border="0" align="right" cellpadding="2" cellspacing="2">
                <tr>
                  <td height="92" align="center" valign="middle">
                    <a rel="simplebox" href="/images/image11.jpg">
                      <img width="86" src="/images/image11.jpg"></a>
                  </td>
                  <td align="center" valign="middle">
                    <a rel="simplebox" href="/images/image22.jpg">
                      <img width="86" border="0" src="/images/image22.jpg"></a>
                  </td>
                  <td align="center" valign="middle">
                    <a rel="simplebox" href="/images/image33.jpg">
                      <img width="86" src="/images/image33.jpg"></a>
                  </td>
                  <td align="center" valign="middle">
                    <a rel="simplebox" href="/images/image44.jpg">
                      <img width="86" src="/images/image44.jpg"></a>
                  </td>
                  <td align="center" valign="middle">
                    <a rel="simplebox" href="/images/image55.jpg">
                      <img width="86" src="/images/image55.jpg"></a>
                  </td>
                </tr>
              </table>
            </div></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>

  <tr align="center">
    <td colspan="1">&nbsp;</td>
  </tr>
    
  <tr align="center">
    <td colspan="5">
      <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" class="footer">
      <tr>
        <td width="100%"><div class="footer" style="background-image:url(/images/footer_bg.jpg); height:53px;">
          <table width="100%" height="53" border="0" cellpadding="0" cellspacing="0" align="center">
            <tr>
        <td>
              <div class="footer" style=" height:34px; display:flex; justify-content:space-between; padding: 0 40px; box-sizing: border-box;">
              <div id="1" style="background-image:url(/images/subscribe_end.jpg); background-repeat:no-repeat; width:204px; height:34px;">

                <form  id="delete" th:method="DELETE" th:action="@{/}" th:object="${person}">
                        <input type="button" onclick="sweetAlert()" id="del" class="but" value="Удалить аккаунт" />
                </form>
              </div>

<script>
  function sweetAlert() {
  swal({
  title: "Вы уверены?",
  text: "Находясь в здравом уме, твердой памяти и ясном сознании, действуя добровольно, понимая значение своих действий и не заблуждаясь, соглашаюсь на удаление своего аккаунта! Хи-хи))",
  icon: "warning",
  buttons: ["Нет", "Да"],
  dangerMode: true,

})
.then((willDelete) => {
  if (willDelete) {
    document.getElementById("delete").submit();
  }
});
}
</script>

              <form  id="formImageTheme" th:method="POST" th:action="@{/home}" th:object="${person}">
                <!-- Кнопка для открытия модального окна -->
             <div id="2" style="background-image:url(/images/subscribe_end.jpg); background-repeat:no-repeat; width:204px; height:34px;  margin-left: auto;">
              <input type="button" id="openModalBtn" class="but" value="Тема окна" />
              </div>

                <!-- Модальное окно -->
                <div id="myModal" class="modal">
                  <div class="modal-content">
                      <div class="selectdivboot">
                     <!-- Пример отдельной кнопки danger -->
                      <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          Выберите вариант
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#" onclick="original();return false;">Оригинал</a></li>
                          <li><a class="dropdown-item" href="#" onclick="car();return false;">Машинки</a></li>
                          <li><a class="dropdown-item" href="#" onclick="plane();return false;">Самолетики</a></li>
                          <li><a class="dropdown-item" href="#" onclick="city();return false;">Город</a></li>
                          <li><a class="dropdown-item" href="#" onclick="flower();return false;">Цветы</a></li>
                        </ul>
                      </div>
                      </div>
                    <br>
                    <div class="selectdivbutton">
                      <!-- <button type="button" class="btn" id="submitBtn">Посмотреть</button> -->
                       <button type="submit" class="btn2" id="submitBtn2">Применить</button>
                       <button type="button" class="btn2" id="closeModalBtn">Закрыть</button>
                     </div>
                   </div>
                   </div>
                   <input  type="hidden" id="hiddenFieldTheme" th:field="*{imageTheme}"/>
                   <input  type="hidden" id="hiddenFieldDate" th:field="*{birthdate}"/>
                 </form>
              </div>
        </td>
            </tr>

            <tr>
              <td style="height: 16px;" align="right"><p style="margin:1px 10px;">Добрый день, <span style="font-size: 12px;color:#ff0000;" th:text="${person?.username}">VALUE</span> ! </p></td>
            </tr>
          </table>
        </div></td>
      </tr>
    </table>

    </td>
  </tr>

</table>

<!--<script type="text/javascript" src="/resources/js/del.js"></script>-->
<script type="text/javascript" src="/js/aboutMe.js"></script>
<script type="text/javascript" src="/js/theme.js"></script>
<script type="text/javascript" src="/js/simplebox_util.js"></script>
<script type="text/javascript">
(function(){
var boxes=[],els,i,l;
if(document.querySelectorAll){
els=document.querySelectorAll('a[rel=simplebox]');
Box.getStyles('simplebox_css','/css/simplebox.css');
Box.getScripts('simplebox_js','/js/simplebox.js',function(){
simplebox.init();
for(i=0,l=els.length;i<l;++i)
simplebox.start(els[i]);
simplebox.start('a[rel=simplebox_group]');
});
}
})();</script>

</body>
</html>
