<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Мероприятия</title>

<link th:href="@{/css/templatemo_style.css}" type="text/css" rel="stylesheet" />
</head>
<body>

<span id="top"></span>
<div id="templatemo_wrapper_photo">
	<div id="templatmeo_header_photo">

		<div id="site_title">
				<h1><a th:href="@{/home}"></a></h1>
		</div>

        <div id="templatemo_menu">
            <ul>
                <li class="last"><a th:href="@{/news}">Новости</a></li>
                <li class="last"><a th:href="@{/myPage}">Кабинетик</a></li>
            </ul>
        </div> <!-- end of templatemo_menu -->
	</div> <!-- end of header -->

    <div id="templatemo_main_photo">

        <div id="services" class="content_top"></div>
        <div class="content_box_photo">
        	<div class="content_title content_contactus"></div>

                <h2>Наши мероприятия и праздники</h2>
                <div class="cleaner"></div>

                <p>Ах, как моя мамуля любит праздники! Особенно она любит отмечать их у бабули. Ведь там всегда накрыт стол)</p>
          <div class="cleaner h30"></div>
                <div class="post_box float_l">
                    <div class="image_fr"><span></span><img onclick="modalWindow(this.src)" src="/images/holiday/a_dr2021.jpg" alt="Image" /></div>

                    <h3>День рождения 2021</h3>
                    <p>Ура! У меня появился новый транспорт - жираф) <a href="/dr2021">далее...</a></p>
                    <div class="cleaner"></div>
          </div>

<div class="post_box float_r">
                    <div class="image_fr"><span></span><img onclick="modalWindow()" src="/images/holiday/a_ng2022.jpg" alt="Image" /></div>

                    <h3>Новый год 2022</h3>
                    <p>В этот Новый год я побывал в гостях у Деда Мороза! <a href="#">далее...</a></p>
                    <div class="cleaner"></div>
          </div>

<div class="cleaner"></div>
                <div class="post_box float_l">
                    <div class="image_fr"><span></span><img src="/images/holiday/a_shihovo2022.jpg" alt="Image" /></div>

                    <h3>Шихово 2022</h3>
                    <p>А это мы все вместе поехали на ферму в Шихово. <a href="#">далее...</a></p>
                    <div class="cleaner"></div>
          </div>
                <div class="post_box float_r">
                    <div class="image_fr"><span></span><img src="/images/holiday/a_dr2022.jpg" alt="Image" /></div>

                    <h3>День рождения 2022</h3>
                    <p>Мне 2года! У меня прибавилось машинок) <a href="#">далее...</a></p>
                    <div class="cleaner"></div>
</div>
<div class="cleaner"></div>
                <div class="post_box float_l">
                    <div class="image_fr"><span></span><img src="/images/holiday/a_ng2023.jpg" alt="Image" /></div>

                    <h3>Новый год 2023</h3>
                    <p>Новый год отмечали в Мечте! Были лошадки и салют) <a href="#">далее...</a></p>
                    <div class="cleaner"></div>
          </div>

            <div class="cleaner"></div>
            <a href="#" class="gototop">Наверх</a>

          </div> <!-- end of content_box -->
    </div> <!-- end of templatemo_main -->
</div><!-- end of warpper -->

</body>
</html>
