<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Фотографии</title>

<link th:href="@{/css/templatemo_style.css}" type="text/css" rel="stylesheet" />

</head>
<body>

<span id="top"></span>
<div id="templatemo_wrapper_photo">
	<div id="templatmeo_header_photo">

		<div id="site_title">
				<h1><a th:href="@{/home}"></a></h1>
		</div>

        <div id="templatemo_menu">
            <ul>

                <li class="last"><a th:href="@{/video}">Видео</a></li>
                <li class="last"><a th:href="@{/myPage}">Кабинетик</a></li>
            </ul>
        </div> <!-- end of templatemo_menu -->
	</div> <!-- end of header -->

    <div id="templatemo_main_photo">

        <div id="services" class="content_top"></div>
        <div class="content_box_photo">
        	<div class="content_title content_contactus"></div>

                <h2>Мои фотографии</h2>
                <div class="cleaner"></div>

                <p>Здесь вы можете посмотреть мои фотографии.</p>
          <div class="cleaner h30"></div>
                <div class="post_box float_l">
                    <div class="image_fr"><span></span><img src="/images/holiday/a_dr2021.jpg" alt="Image" /></div>

                    <h3>2020 год</h3>
                    <p>Мои фотографии в первый год) <a href="#">далее...</a></p>
                    <div class="cleaner"></div>
          </div>

<div class="post_box float_r">
                    <div class="image_fr"><span></span><img src="/images/holiday/a_ng2022.jpg" alt="Image" /></div>

                    <h3>2021 год</h3>
                    <p>Здесь уже больше фотографий) <a href="#">далее...</a></p>
                    <div class="cleaner"></div>
          </div>

<div class="cleaner"></div>
            <div class="post_box float_l">
                    <div class="image_fr"><span></span><img src="/images/holiday/a_shihovo2022.jpg" alt="Image" /></div>

                    <h3>2022 год</h3>
                    <p>Посмотрите как я подрос) <a href="#">далее...</a></p>
                    <div class="cleaner"></div>
          </div>
                <div class="post_box float_r">
                    <div class="image_fr"><span></span><img src="/images/holiday/a_dr2022.jpg" alt="Image" /></div>

                    <h3>2023 год</h3>
                    <p>В этом году у меня прибавилось машинок) <a href="#">далее...</a></p>
                    <div class="cleaner"></div>
</div>
            <div class="cleaner"></div>
            <a href="#" class="gototop">Наверх</a>
          </div><!-- end of content_box -->

    </div> <!-- end of templatemo_main -->
</div><!-- end of warpper -->
</body>
</html>
