<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Регистрация</title>
<link th:href="@{/css/go.css}" type="text/css" rel="stylesheet" />
</head>

<body>

<table width="400px" border="0" align="center" cellpadding="0" cellspacing="0" class="wr" >
<tr>
<td width="100%" align="center">
<div class="login-page">
  <div class="form">

    <form class="login-form" id="formGo"  th:method="POST" th:action="@{/login}" th:object="${loginDTO}" >
      <input type="text" placeholder="username" th:field="*{username}" id="nameGo"/>
      <input type="password" placeholder="password" th:field="*{password}" id="passwordGo"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>

    </form>

    <!--<p th:inline="text" id="flag1" style="display:none;">[[${flag}]]</p>-->
    <p th:text="${flag}" id="flag" style="display:none;"></p>

    <form class="register-form" id="formCreate" th:method="POST" th:action="@{/register}" th:object="${registerDTO}" >
      <input type="text" placeholder="username" th:field="*{username}" id="username"/>
      <div style="color:orange; font-size:12px" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name error</div>
      <input type="password" placeholder="password" th:field="*{password}" id="password"/>
      <div style="color:orange; font-size:12px" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
      <input type="text" placeholder="email address" th:field="*{email}" id="email"/>
      <div style="color:orange; font-size:12px" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
      <button type="submit" >create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>

    </form>
  </div>
</div>
</td>
</tr>
</table>

<script src="/js/go.js"></script>
</body>
