<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Регистрация</title>
    <link th:href="@{/css/go.css}" type="text/css" rel="stylesheet" />
</head>

<body>

<table width="400px" border="0" align="center" cellpadding="0" cellspacing="0" class="wr" >
    <tr>
        <td width="100%" align="center">
            <div class="login-page">
                <div class="form">
                    <p class="messageNo">Please set registration password</p>
                    <form class="login-form" id="formGo" th:method="POST" th:action="@{/oauth2/password}" th:object="${registerDTO}" >

                        <input type="password" placeholder="registration password" th:field="*{passwordReg}" id="passwordReg"/>

                        <button type="submit" >OK</button>

                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>

<!--<script src="/js/go.js"></script>-->
</body>

</html>