<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div class="container">
  <h2>Заказы</h2>
  <div th:each="order : ${orders}">
    <p th:utext="${order.getDinner().getName()}">user</p>
    <p th:utext="${order.getPerson().getUsername()}">user</p>
    <div th:each="el : ${order.getDinner().getElementsDinner()}">
    <p th:utext="${el.getName()}">user</p>
    </div>
    <br>
  </div>
</div>
</body>
</html>