datadir="/var/lib/proxysql"


admin_variables=
{
    admin_credentials="admin:admin_pass;remote_admin:remote_pass"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    threads=4
    scheduler_threads=2
    max_connections=2048
    interfaces="0.0.0.0:6033"
    connect_timeout_server=10000
    connect_timeout_server_max=30000
    poll_timeout=2000
    ping_timeout_server=1000

    monitor_username="monitor"
    monitor_password="monitor_pass"
    monitor_history=600000
    monitor_connect_interval=1000
    monitor_ping_interval=1000
    monitor_read_only_interval=1000
    server_connect_timeout=3000
    mysql-max_conn_errors=2
    mysql-connection_keepalive=1000
    monitor_writer_is_also_reader=0
    mysql-shun_on_failures=3
    mysql-free_connections_pct=20
}

mysql_servers = ()

mysql_users =
(
    { username = "app", password = "14789", default_hostgroup = 10, active = 1 },
    { username = "monitor", password = "monitor_pass", default_hostgroup = 0, active = 1 }
)

mysql_replication_hostgroups =
(
    { writer_hostgroup=10, reader_hostgroup=20, check_type="read_only" }
)
