[mysqld]
server-id=2
relay-log=relay-bin
read_only=1
gtid_mode=ON
enforce-gtid-consistency=ON
log-bin=mysql-bin
log_slave_updates=ON
report_host=mysql-slave
report_port=3306
skip_name_resolve=1
binlog_format=ROW
